html {
      background-color: #343a40;
      position: fixed;
}

body{
    position:fixed;
    background-color: #343a40;
}

#loader {
    position: fixed;
    z-index: 5000;
    left:0;
    width: 100%;
    height: 100vh;
    background: #222222 url('/static/img/Loading-gif2.gif'); 
    display:block;
    justify-content: center;
    align-items:center;
    background-size: contain;
    background-repeat: no-repeat;
    opacity:0.7;
}

#loader > img{
    width:100px;
}

.close{
    position: inherit;
    z-index: 4000;
    right: 20vw;
    outline: none;
}

#side-bar {
    opacity: 0.8;
    width:100%;
    background-color: #343a40;
}
#mapdiv {
    /* height: 93vh; */
    width: 100%;
    /* left: 0px;
    right:0px;
    bottom: 0px;  */
    /* top:7vh; */
    position: fixed;
}

#navbar{
    /* height: 7vh; */
    top:0px;
    width:100%;
    position: fixed;
    z-index: 4000;
}

#overallRow {
    width:100%;
    position:fixed;

}
.col-xs-12,.col-xs-6,.col-xs-4{
    padding:3px
}

/* Bus Stop Selection */
#divProject{
    background-color: beige;
    padding: 10px;
    border: 2px solid grey;
    border-radius: 5px;
}

/* Filtering of Bus Stop Loading */
#divProject2{
    background-color: lightcyan;
    padding: 10px;
    border: 2px solid grey;
    border-radius: 5px;
}

/* Radio Buttons: Filtering of BCM package */
#divSelectPackage{
    background-color: #ffcac2;
    padding: 10px;
    border: 2px solid grey;
    border-radius: 5px;

}

.errorMsg {
    padding:0;
    text-align:center;
    background-color: darksalmon;

}

#BusArrival_Info {
    word-wrap: break-word;
    /* overflow-x: auto; */
    position: relative;
    padding-top: 0px;
    text-align:center;
    overflow: scroll;
    max-width: 40em;
    max-height: 20em;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
}

#divProject4 {
    position: relative;
    left: 0em;
    top: 0em;
    border: 2px solid grey;
    border-radius: 5px;
    background-color: tan;
}

#Time_FilterBS {
    position: relative;
    left: 0em;
    font-size: 14px;
    top: 0em;
}

.svg-container {
    position: relative;
    width: 100%;
    height: 480px;
}

#heatMapLoading {
    position: relative;
    top: 2em;
}

#ActivateMenu{
    z-index: 3000;
    position: absolute;
    right: 5vw;
    width: 30vw;
}

#busStopData_Loading{
    text-align: center
}

tr:hover {background-color:#000000;}