<!DOCTYPE html>
<html lang="en">
    <head>
        <activity
            android:windowSoftInputMode="adjustPan"> 
        </activity>
        <meta charset="UTF-8">
        <meta name="viewport" content="initial-scale=1,user-scalable=no,maximum-scale=1,width=device-width">
        <meta name="mobile-web-app-capable" content="yes">
        <!-- <meta name="apple-mobile-web-app-capable" content="yes"> -->
        <title>Bus Ridership</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='src/leaflet.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='src/css/bootstrap.css') }}">

        <!-- Plug-ins -->
        <link rel="stylesheet" href="{{ url_for('static', filename='src/plugins/L.Control.Zoomslider.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='src/plugins/L.Control.MousePosition.css') }}">
        <link rel="stylesheet" href="https://ppete2.github.io/Leaflet.PolylineMeasure/Leaflet.PolylineMeasure.css" />
        <link rel="stylesheet" href="{{ url_for('static', filename='src/plugins/L.Control.Sidebar.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='src/plugins/leaflet-opencage/src/css/L.Control.OpenCageSearch.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='src/plugins/MarkerCluster/MarkerCluster.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='src/plugins/MarkerCluster/MarkerCluster.Default.css') }}">
        <!-- end -->
        <script src = "{{ url_for('static', filename='src/leaflet-src.js')}}"></script>
        <script src = "{{ url_for('static', filename='src/jquery-3.5.1.min.js')}}"></script>
        <!-- General Plug-ins -->
        <script src = "{{ url_for('static', filename='src/plugins/L.Control.Zoomslider.js')}}"></script>
        <script src = "{{ url_for('static', filename='src/plugins/L.Control.MousePosition.js')}}"></script>
        <script src="https://ppete2.github.io/Leaflet.PolylineMeasure/Leaflet.PolylineMeasure.js"></script>
        <script src = "{{ url_for('static', filename='src/plugins/L.Control.Sidebar.js')}}"></script>
        <script src = "{{ url_for('static', filename='src/plugins/leaflet-opencage/src/js/L.Control.OpenCageSearch.js')}}"></script>
        <script src = "{{ url_for('static', filename='src/plugins/leaflet-providers.js')}}"></script>
        <script src = "{{ url_for('static', filename='src/plugins/leaflet.ajax.min.js')}}"></script>
        <script src = "{{ url_for('static', filename='src/plugins/leaflet.sprite.js')}}"></script>
        <script src = "{{ url_for('static', filename='src/plugins/MarkerCluster/leaflet.markercluster.js')}}"></script>
        <script src = "{{ url_for('static', filename='src/plugins/leaflet.geometryutil.js')}}"></script>
        <script src = "{{ url_for('static', filename='src/plugins/leaflet.textpath.js')}}"></script>
        <!-- ---------------------------------------------------- -->
        <!-- FontAwesome Icons -->
        <!-- <link href="{{ url_for('static', filename='https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css')}}" rel="stylesheet"> -->
            <!-- https://stackoverflow.com/questions/46747950/font-awesome-icons-showing-up-as-square-boxes/55206385 -->
            <link rel="stylesheet" href="{{ url_for('static', filename='src/fonts/fontawesome-free-5.13.1-web/css/all.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='src/plugins/leaflet.awesome-markers.css') }}">
        <script src = "{{ url_for('static', filename='src/plugins/leaflet.awesome-markers.min.js')}}"></script>
        <!-- ---------------------------------------------------- -->

        <!-- Start: jQuery - AutoComplete -->
        <link rel="stylesheet" href="{{ url_for('static', filename='src/jQuery/jquery-ui.min.css')}}">
        <script src = "{{ url_for('static', filename='src/jQuery/jquery-ui.min.js')}}"></script>
        <!-- ---------------------------------------------------- -->

        <!-- HTML's Style Sheet -->
        <link rel="stylesheet" href="{{ url_for('static', filename='/css/style.css')}}">

        <!-- Plot.js -->
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    </head>
    <body>
        <div id="loader"></div>
        <!-- <div id="loader">
            <img src="{{ url_for('static', filename='img/loading-gif2.gif')}}" alt="loading...">
        </div> -->
        <nav id="navbar" class="navbar navbar-dark bg-dark">
            <a class="navbar-brand" href="#">Bus Ridership (Jun 2020)</a>
            <button id="ActivateMenu" type="button" class="btn btn-info ssm-toggle-nav">Open Menu</button>
        </nav>

        <div class="row" id = "overallRow">
            <div id= "side-bar" class = "col-md-12">
                <button id = "btnLocate" class = 'btn btn-primary btn-block'>My Location</button><br>
                <!-- SEARCH BUS STOP -->
                <div id="divProject" class="col-xs-12">
                    <div id="divProjectLabel" class="text-center col-xs-12">
                        <h4>Select: Bus Stop</h4>
                    </div>
                    <div id="divProjectError" class="errorMsg col-xs-12"></div>
                    <div id="divFindBS" class="form-group has-error">
                        <div class="col-xs-6">
                            <input type="text" id="txtFindBS" class="form-control" placeholder="Type your BS Code">
                        </div>
                        <div class="col-vs-6">
                            <button type = "submit" id="btnFindBS" class="btn btn-danger btn-block" disable>Find Bus Stop</button>
                        </div>
                        <div class="" id="divBSData"></div>
                        <div id="heatMapLoading"></div>
                        <div id = "BusArrival_Info" class="container"></div>
                        <div id="busStopData_Loading">
                            <h6></h6>
                        </div>
                    </div> 
                </div>

                <div id="divSelectPackage" class="col-xs-12">
                    <div id="divSelectPackage_Label" class="text-center col-xs-12">
                        <h4>Filter: Bus Routes by Package</h4>
                    </div>
                    <!-- RADIO BUTTONS -->
                    <div id="divSelectPackage_Radio" class="col-xs-12">
                        <div class="col-l-12">
                            <input type="radio" name ='flt_Package' value="NONE" checked> <strong>Show No Routes</strong>
                        </div>
                        <div class="col-l-12">
                            <input type="radio" name ='flt_Package' value="PT200 - Bulim"> PT200 - Bulim
                        </div>
                        <div class="col-l-12">
                            <input type="radio" name ='flt_Package' value="PT201 - Loyang"> PT201 - Loyang
                        </div>
                        <div class="col-l-12">
                            <input type="radio" name ='flt_Package' value="PT202 - Seletar"> PT202 - Seletar
                        </div>
                        <div class="col-l-12">
                            <input type="radio" name ='flt_Package' value="PT203 - Bukit Merah"> PT203 - Bukit Merah
                        </div>
                        <div class="col-l-12">
                            <input type="radio" name ='flt_Package' value="PT206 - Sengkang – Hougang"> PT206 - Sengkang – Hougang
                        </div>
                        <div class="col-l-12">
                            <input type="radio" name ='flt_Package' value="PT207 - Tampines"> PT207 - Tampines
                        </div>
                        <div class="col-l-12">
                            <input type="radio" name ='flt_Package' value="PT208 - Bishan – Toa Payoh"> PT208 - Bishan – Toa Payoh
                        </div>
                        <div class="col-l-12">
                            <input type="radio" name ='flt_Package' value="PT209 - Serangoon - Eunos"> PT209 - Serangoon - Eunos
                        </div>
                        <div class="col-l-12">
                            <input type="radio" name ='flt_Package' value="PT210 - Clementi"> PT210 - Clementi
                        </div>
                        <div class="col-l-12">
                            <input type="radio" name ='flt_Package' value="PT211 - Bedok"> PT211 - Bedok
                        </div>
                        <div class="col-l-12">
                            <input type="radio" name ='flt_Package' value="PT212 - Jurong West"> PT212 - Jurong West
                        </div>
                        <div class="col-l-12">
                            <input type="radio" name ='flt_Package' value="PT213 - Sembawang-Yishun"> PT213 - Sembawang-Yishun
                        </div>
                        <div class="col-l-12">
                            <input type="radio" name ='flt_Package' value="PT215 - Choa Chu Kang-Bukit Panjang"> PT215 - Choa Chu Kang-Bukit Panjang
                        </div>
                        <div class="col-l-12">
                            <input type="radio" name ='flt_Package' value="PT216 - Woodlands"> PT216 - Woodlands
                        </div>
                    </div>               
                </div>

                <div id="divProject2" class="col-xs-12">
                    <div id="divProjectLabel2" class="text-center col-xs-12">
                        <h4>Filter: Bus Stop Markers</h4>
                    </div>
                    <!-- RADIO BUTTONS -->
                    <div id="divFilterBS" class="col-xs-12">
                        <div class="col-l-12">
                            <input type="radio" name ='fltBS' value="WEEKDAY" checked> Weekday
                        </div>
                        <div class="col-l-12">
                            <input type="radio" name ='fltBS' value="WEEKENDS/HOLIDAY"> Weekends / Holiday
                        </div>
                    </div>
                    <div id="divProject3" class="col-xs-12">
                        <!-- DROP-DOWN LIST (TIme of Day) -->
                        <select id="Time_FilterBS" onchange="Selected_Time(this)">
                            <!-- <option value="" selected disabled hidden>Choose here</option> -->
                            <option value="5">05:00 to 06:00</option>
                            <option value="6">06:00 to 07:00</option>
                            <option value="7">07:00 to 08:00 </option>
                            <option value="8">08:00 to 09:00</option>
                            <option value="9">09:00 to 10:00</option>
                            <option value="10">10:00 to 11:00</option>
                            <option value="11">11:00 to 12:00</option>
                            <option value="12">12:00 to 13:00</option>
                            <option value="13">13:00 to 14:00</option>
                            <option value="14">14:00 to 15:00</option>
                            <option value="15">15:00 to 16:00</option>
                            <option value="16">16:00 to 17:00</option>
                            <option value="17">17:00 to 18:00</option>
                            <option value="18">18:00 to 19:00</option>
                            <option value="19">19:00 to 20:00</option>
                            <option value="20">20:00 to 21:00</option>
                            <option value="21">21:00 to 22:00</option>
                            <option value="22">22:00 to 23:00</option>
                            <option value="23">23:00 to 24:00</option>
                            <option value="23">23:00 to 24:00</option>
                            <option value="0">00:00 to 01:00</option>
                            <option value="1">01:00 to 02:00</option>
                            <option value="2">02:00 to 03:00</option>
                            <option value="3">03:00 to 04:00</option>
                            <option value="4">04:00 to 05:00</option>
                            <option value="5">05:00 to 06:00</option>
                            <option value="6">06:00 to 07:00</option>
                          </select>                   
                    </div>                   
                </div>


                <div></div>
                <div id="divProject4" class="col-xs-12">
                    <div id="divProjectLabel4" class="text-center col-xs-12">
                        <h4>Filter: Regions</h4>
                    </div>
                    <!-- CHECKBOX (Select District) -->
                    <div class="col-xs-4">
                        <input type="checkbox" name="fltDistrict" value ="WEST REGION" unchecked> West Region <br>
                        <input type="checkbox" name="fltDistrict" value ="CENTRAL REGION" unchecked> Central Region <br>
                        <input type="checkbox" name="fltDistrict" value ="EAST REGION" unchecked> East Region <br>
                        <input type="checkbox" name="fltDistrict" value ="NORTH-EAST REGION" unchecked> North-East Region <br>
                        <input type="checkbox" name="fltDistrict" value ="NORTH REGION" unchecked> North Region <br>
                        <button id="btnDistrictFilterAll" class="btn btn-secondary btn-block">Select: All Regions</button>
                        <button id="btnDistrictFilterNone" class="btn btn-secondary btn-block">Unselect: All Regions</button>
                        <button id="btnDistrictFilter" class="btn btn-warning btn-block">Filter District!</button>
                    </div>
                </div>

            </div> 
            
            <div id = "mapdiv" class = "col-md-12">
                
            </div> 

        </div>


        <script>
            // Leaflet Core
            var mymap, mrkCurrentLocation, circleCurrentLocation, ctlZoom,ctlAttribute, ctlScale;
            // Map Layers
            var lyrOSM, lyrOneMapDefault, lyrTopo,lyrImagery,lyrTransport;
            var ctlLayers; // layer Control
            var objBasemaps, objOverlays;
            // GeoJson Layer
            var busStops_geoJson;
            // Ridership Layer
            var ridership_geoJson;
            // Feature Group
            var featureDrawnItems;
            // Leaflet Plugins
            var ctlZoomslider; // Zoom Slider: http://kartena.github.io/Leaflet.zoomslider/
            var ctlMousePosition; // Mouse Position: https://github.com/ardhi/Leaflet.MousePosition
            var ctlMeasure; // PolylineMeasure: https://github.com/ppete2/Leaflet.PolylineMeasure
            var ctlSidebar; // SideBar v1: https://github.com/turbo87/leaflet-sidebar/
            var ctlSearch; // OpenCageSearch: https://github.com/OpenCageData/leaflet-opencage-search
            // Leaflet Draw Plug-in
            var ctlDraw; // Leaflet Draw: https://github.com/Leaflet/Leaflet.draw
            // Leaflet Style Editor Plug-in
            var ctlStyle; // https://github.com/dwilhelm89/Leaflet.StyleEditor
            // Sprite Icon
            var iconRedSprite;
            var iconVioletSprite;
            var currentLocationIcon;
            var clickedBS;
            var clickedBS_marker;
            // Marker Cluster - Ridership
            var lyrMarkerCluster
            // Polygon layer - District
            var lyrDistrict
            // Search BS
            var lyrSearch
            var arBSCodes = []
            // Global variable for TIME_PER_HOUR for drop-down list
            var today = new Date();
            var TIME_PER_HOUR = today.getHours() // Initialise as current hour
            selectElement('Time_FilterBS',today.getHours()) // Update the Drop-down Menu as Current Hour
            // Routes Layer
            var geojson_Routes
            var layer_Routes

            var preloader = document.getElementById('loader');
            
            // Programmatically Obtain Selected Time.
            // https://stackoverflow.com/questions/78932/how-do-i-programmatically-set-the-value-of-a-select-box-element-using-javascript
            function selectElement(id, valueToSelect) {    
                let element = document.getElementById(id);
                element.value = valueToSelect;
            }
            // j-Query - Only create map once div has been created.
            $(document).ready(function(){

                /* Updating Div height size */
                // Ensures fixed Div sizes when keyboard is invoked.
                // Link: https://stackoverflow.com/questions/43702979/mobile-keyboard-pushes-up-content-because-of-an-absolutely-positioned-drawer
                var windowHeight = $(window).innerHeight();
                $('html, body').css({'height':windowHeight});
                
                $('#mapdiv').css({'height':windowHeight*0.93,'top':windowHeight*0.07});
                $('#navbar').css({'height':windowHeight*0.07});
                
                
                /* ... */

                //----------------------------------------------------
                // Map Initialisation
                //----------------------------------------------------
                mymap = L.map('mapdiv',
                {
                    center: [1.3649222, 103.8125610],
                    zoom:12,
                    zoomControl:false,
                    zoomSnap:0
                });
                // ***** Attribution *****
                ctlAttribute = L.control.attribution({position:"bottomleft"});
                ctlAttribute.addTo(mymap);
                ctlAttribute.addAttribution('OSM');
                //ctlAttribute.addAttribution('&copy; <a href = "https://www.onemap.sg/main/v2/">OneMap</a>');// &copy is CopyRight Symbol.
                //----------------------------------------------------

                //----------------------------------------------------
                // Icons
                //----------------------------------------------------
                iconRedSprite = L.AwesomeMarkers.icon({icon:'bus',markerColor:'red',prefix:'fa',iconColor:'black'})
                iconVioletSprite = L.AwesomeMarkers.icon({icon:'bus',markerColor:'blue',prefix:'fa',iconColor:'white',spin:false})
                currentLocationIcon = L.AwesomeMarkers.icon({icon:'street-view',markerColor:'orange',prefix:'fa',iconColor:'black',spin:false})
                clickedBS = L.AwesomeMarkers.icon({icon:'star',markerColor:'purple',prefix:'fa',iconColor:'black',spin:true})
                //----------------------------------------------------
                
                //----------------------------------------------------
                // LAYER Initialisation
                //----------------------------------------------------
                lyrOSM = L.tileLayer.provider('OpenStreetMap.Mapnik')
                lyrOneMapDefault = L.tileLayer.provider('OneMapSG.Default')
                lyrTopo = L.tileLayer.provider('OpenTopoMap')
                lyrImagery = L.tileLayer.provider('Esri.WorldImagery')
                lyrTransport = L.tileLayer.provider('Thunderforest.Transport') // Add API key in 
                mymap.addLayer(lyrOSM);  // Initial Map
                //----------------------------------------------------

                // ----------------------------------------------------------------------------------
                // LAYERS
                // NOTE: Remember to run on live server.
                // ----------------------------------------------------------------------------------

                // Layer 1: Ridership
                lyrMarkerCluster = L.markerClusterGroup({ disableClusteringAtZoom: 16 });
                ridership_geoJson = L.geoJSON.ajax("{{url_for('static', filename='/data/LTAMall_Ridership_Data_Jun2020.geojson')}}", {pointToLayer:returnBusStopMarker,filter:filterBusStopTimePeriod});
                ridership_geoJson.on('data:loaded',function(){ // once data loaded
                    arBSCodes.sort();
                    $("#loader").fadeOut("slow");//Loading Animation
                    $("#txtFindBS").autocomplete({
                        source: arBSCodes
                    });
                    lyrMarkerCluster.addLayer(ridership_geoJson);
                    lyrMarkerCluster.addTo(mymap);
                    mymap.fitbounds(ridership_geoJson.getBounds());
                });
                // Event handler: When user clicks on a bus stop marker.
                ridership_geoJson.on('click',function(e){
                    busStopClick(e);
                });
                /*
                // Layer 2: Drawing Features
                featureDrawnItems = new L.featureGroup();
                featureDrawnItems.addTo(mymap);
                */

                // Layer 3: District (2019)
                lyrDistrict = L.geoJson.ajax("{{url_for('static', filename='/data/PlanningBoundary_2019.geojson')}}",{style:styleRegions,onEachFeature:processRegions, filter:filterDistricts}).addTo(mymap)

                // Layer 4: Routes by Packages
                layer_Routes = L.geoJson.ajax("{{url_for('static', filename='/data/routes_v2.geojson')}}",{style: styleBusSvcs,onEachFeature:processDirections,filter:filterBusSvcs}).bindPopup(returnBusSvcs).addTo(mymap)

                // Checks final zoom level everytime there is a change in zoom
                mymap.on('zoomend',function(){
                    layer_Routes.refresh()
                })
                // ----------------------------------------------------------------------------------


                // ----------------------------------------------------------------------
                // PLUG-INS
                // ----------------------------------------------------------------------

                // ***** Scale *****
                ctlScale = L.control.scale({position:'bottomleft',maxWidth:200}).addTo(mymap);
                // ***** Panning arrows *****
                // ctlPan = L.control.pan().addTo(mymap);
                // ***** Custom Zoom Slider *****
                ctlZoomslider = L.control.zoomslider({position:'topright'}).addTo(mymap);
                ctlMousePosition = L.control.mousePosition().addTo(mymap);

                // Menu Toggle to activate sidebar
                $("#ActivateMenu").click(function(){
                    ctlSidebar.toggle();
                    // If Menu is already shown, make the button show text: "Close Menu"
                    ctlSidebar.on('shown', function () {
                        $('#ActivateMenu').html("Close Menu")
                    });
                    // If Menu is NOT already shown, make the button show text: "Open Menu"
                    ctlSidebar.on('hidden', function () {
                        $('#ActivateMenu').html("Open Menu")
                    });
                });
                // ***** Sidebar V1 *****
                ctlSidebar = L.control.sidebar('side-bar',{closeButton:false,autoPan:false}).addTo(mymap);
                ctlMeasure = L.control.polylineMeasure(options={
                    position: 'topright',
                    measureControlLabel: '&#128207;'
                    
                }).addTo(mymap);

                // ***** OpenCage Search Location *****
                ctlSearch = L.Control.openCageSearch({
                    key:'17d0c3cd10484522b857c1814cd9df16',
                    limit:10,
                    collapsed: false,
                    expand: 'click',
                    position:'topleft',
                    showResultIcons: true,
                    placeholder: 'Search Location',
                }).addTo(mymap); // Key is from OpenCage account: NightFury555 GitHub Account.
                
                // ***** LOCATION CONTROL *****
                // When location is found.
                mymap.on('locationfound', function(e){
                    if (circleCurrentLocation) { // Remove only if circleCurrentLocation is set.
                        circleCurrentLocation.remove();
                        mrkCurrentLocation.remove();
                    }
                    
                    circleCurrentLocation = L.circleMarker(e.latlng,{radius:e.accuracy/2}).addTo(mymap); //accuracy is reported in meter
                    mrkCurrentLocation = L.marker(e.latlng, {icon: currentLocationIcon}).addTo(mymap);
                    mymap.setView(e.latlng,18);
                });

                // In the event of unable to find location.
                mymap.on('locationerror',function(e){
                    console.log(e);
                    alert('Location not found!')
                })
                
                // Return Zoom Level at the end of map zoom.
                mymap.on('zoomend', function(e){
                    $("#zoom-level").html(mymap.getZoom());
                })

                // Return LatLong of Map center
                mymap.on('moveend',function(){
                    $("#map-center").html(latLngToArrayString(mymap.getCenter()));
                })

                // ***** Show Lat/Lng at mousepoint *****
                mymap.on('mousemove',function(e){
                    $("#mouse-location").html(latLngToArrayString(e.latlng));
                });

                // ***** SIDE-BAR *****
                $("#btnLocate").click(function(){
                    mymap.locate(
                        {
                            locateOptions: {
                                flyTo:true,
                                initialZoomLevel: 18,
                                enableHighAccuracy: true,
                                showCompass: true,
                                drawMarker:true
                        }
                    });
                });


            // ---------------------------------------------------------------------------
                    
            });
            // ***** END OF MAP COMPONENTS *****         

            // ---------------------------------------------------------------------------
            // GENERAL FUNCTIONS
            // ---------------------------------------------------------------------------

            // ***** Function 1: Converts LatLng object to [lat,long] *****
            function latLngToArrayString(ll){
                return "["+ll.lat.toFixed(3) + ', ' + ll.lng.toFixed(3)+']'
            }

            // Function 2.1 - Distance between two points
            function returnLength(arLatLng){
                var total=0;
                for (var i = 1; i<arLatLng.length;i++){
                    total = total + arLatLng[i-1].distanceTo(arLatLng[i])
                }
                return total;
            }

            // Function 2.2 - Sums up the distance of arrays of line
            function returnMultiLength(arArLatLng){
                var total =0;
                for (var i=0;i<arArLatLng.length;i++){
                    total = total + returnLength(arArLatLng[i]);
                }
                return total
            }

            function returnClosestlayer(lyrGroup,llRef){
                var arLyrs = lyrGroup.getLayers();
                var nearest = L.GeometryUtil.closestLayer(mymap,arLyrs,llRef);
                nearest.distance = llRef.distanceTo(nearest.latlng); // Overide the distance in nearest (return from closestLayer() method)
                nearest.bearing = L.GeometryUtil.bearing(llRef,nearest.latlng);
                if (nearest.bearing<0){
                    nearest.bearing = nearest.bearing + 360;
                }
                nearest.att = nearest.layer.feature.properties;
                return nearest;
            }
            // ---------------------------------------------------------------------------

            // ---------------------------------------------------------------------------
            // 1) RIDERSHIP Functions
            // Filtering Properties of RIDERSHIP geoJson points.
            // The input variables come from the Functions available for GeoJson! See Leaflet Docs!!
            // --------------------------------------------------------------------------            

            // 1) Function
            // - Creates the Tooltip for the Bus Stop Points. Red = + tap-in. Blue = - Tap-in
            // - Also helps build the auto-complete list of BS Codes
            function returnBusStopMarker(json,latlng){
                var att = json.properties;
                
                if (att.TOTAL_TAP_IN_VOLUME - att.TOTAL_TAP_OUT_VOLUME >=0){
                    var clrBS = "Red";
                    var iconBS = iconRedSprite;
                }else{
                    var clrBS = "blue";
                    var iconBS = iconVioletSprite;
                }

                if(att.PT_CODE.toString().length === 4){
                    var BSCode_Raw = "0"+att.PT_CODE.toString() // Solves the problem of GeoJson in wrong BSCode Format.
                }else{
                    BSCode_Raw = att.PT_CODE.toString()
                }
                
                arBSCodes.push(BSCode_Raw +": " + att.Description.toString()) // Push each PT_CODE into Array.
                return L.marker(latlng,{icon:iconBS}).bindTooltip(
                "<h4><strong>" + att.Description + "</strong></h4>"
                + "<h6>(BS " + BSCode_Raw +")</h6><br>"
                + "<h6> GRC/SMC: "+att.GRC_SMC + "</h6>"
                + "<h6> Tap-in: "+att.TOTAL_TAP_IN_VOLUME + "</h6>"
                + "<h6> Tap-out: "+att.TOTAL_TAP_OUT_VOLUME + "</h6>"
                    )
            }

            // 2.1) Function
            // Updates the global TIME_PER_HOUR
            // Value is taken from Dropdownlist
            function Selected_Time(obj) {
                TIME_PER_HOUR = (obj.value)
            }

            // 2.2) Function
            // Filters the TIME_PER_HOUR and DAY_TYPE
            //var TIME_PER_HOUR = 12 // SET THIS *****
            function filterBusStopTimePeriod(point){
                
                var att = point.properties;
                var DAY_TYPE = $("input[name=fltBS]:checked").val();

                if (att.TIME_PER_HOUR == TIME_PER_HOUR && att.DAY_TYPE == DAY_TYPE) {
                    return true;
                } else {
                    return false;
                }
            }

            // 3) Function
            // Loops through all the available Bus stops and return the one that is in the input file
            function returnBSbyBSCODE(BSCODE){
                var arLayers = ridership_geoJson.getLayers();
                for (i=0;i<arLayers.length-1;i++){
                    var featureID = arLayers[i].feature.properties.PT_CODE; //Get the BSCODE of Layer
                    if (featureID == BSCODE) {
                        return arLayers[i];
                    }
                }
                return false; // Executed if cannot find.
            }

            // 4) Function
            // Tests if the user input correct BS Code
            function testBSCode(input){
                if (arBSCodes.indexOf(input)<0){
                    $("#divFindBS").addClass("has-error");
                    $("#divProjectError").html("***** BS CODE NOT FOUND *****");
                    $("#btnFindBS").attr("disabled",true)
                } else {
                    $("#divFindBS").removeClass("has-error");
                    $("#divProjectError").html("");
                    $("#btnFindBS").attr("disabled",false)                    
                }
            };


            // 5) Event handler for BS Code Input
            $("#txtFindBS").on('keyup paste', function(){ // Everytime the user presses a key/ paste in
                var input = $("#txtFindBS").val(); // pass a value
                testBSCode(input);
            });

            // 6.1) Function: When user clicks on a bus stop marker.
            function busStopClick(e){

                var clicked_BSCode = e.layer['feature']['properties']['PT_CODE']
                var clicked_Description = e.layer['feature']['properties']['Description']
                var clicked_tapIn = e.layer['feature']['properties']['TOTAL_TAP_IN_VOLUME']
                var clicked_tapOut = e.layer['feature']['properties']['TOTAL_TAP_OUT_VOLUME']
                if(clicked_BSCode.toString().length === 4){
                    var cleaned_clicked_BSCode = "0"+clicked_BSCode.toString() // Solves the problem of GeoJson in wrong BSCode Format.
                    $("#txtFindBS").val(cleaned_clicked_BSCode+": "+clicked_Description); // https://stackoverflow.com/questions/5709258/jquery-change-input-text-value
                }else{
                    var cleaned_clicked_BSCode = clicked_BSCode.toString()
                    $("#txtFindBS").val(cleaned_clicked_BSCode+": "+clicked_Description); //https://stackoverflow.com/questions/5709258/jquery-change-input-text-value

                }  
                refreshInfo();
                ctlSidebar.show();
                ctlSidebar.on('shown', function () {
                    $('#ActivateMenu').html("Close Menu")
                });
            }

            // 6.2) Function: To trigger info update based on BS keyed in.
            function refreshInfo(){
               
                // Removes the previous content of the HeatMap and Bus Arrival Elements.    
                $("#heatMapLoading").empty();
                $("#BusArrival_Info").empty();
                $('#busStopData_Loading').html("<h5><i>Loading...</i></h5>") // Show loading in place of an empty space.

                var appdir='/';
                var input = $("#txtFindBS").val(); // Extract User input.
                var BSCODE = (input.substring(0,input.indexOf(":",0))) //Trim from 0 to point where ":" is found.

                fetch(`${window.origin}/BusArrival`, {
                    method: "POST",
                    credentials: "include",
                    body: JSON.stringify({
                        BSCODE:BSCODE
                    }),
                    cache: "no-cache",
                    headers: new Headers({
                        "content-type": "application/json"
                    })
                    })
                    .then(function (response) {
                        if (response.status!== 200) {
                            console.log('Response Status not 200');
                            return ; // Stop the fetch from running.
                        }
                        // If response is 200.
                        response.json().then(function(data){
                            var i,svcs;
                            var text = ""; 
                            // Bus Arrival Table

                            for (i=0;i<data["Number_Svcs"];i++) {
                                if(i === 0){
                                    var arrivalTime = data["ArrivalTime"][0];
                                    if (arrivalTime.includes("ARR")){
                                        var html_arrivalTime = "<td style='background:mediumvioletred;vertical-align: middle'>"+data["ArrivalTime"][0]+"</td>"
                                    } else if ((arrivalTime.includes("1 min")&& arrivalTime.charAt(1) === " ")){ // Ensures that 11 min does not trigger
                                        var html_arrivalTime = "<td style='background:palevioletred;vertical-align: middle'>"+data["ArrivalTime"][0]+"</td>"
                                    } else {
                                        var html_arrivalTime = "<td style = 'vertical-align: middle'>"+data["ArrivalTime"][0]+"</td>"
                                    }
                                    // To register header and the first row
                                    text +="<thead>"+"<tr>"
                                        +"<th style='min-width:80px;position:sticky;position: -webkit-sticky;top:0;left:0;opacity:0.8;z-index:4002;background: #000;font-size: small;vertical-align: middle' >Services</th>"
                                        +"<th style='min-width:80px;position:sticky;position: -webkit-sticky;top:0;opacity:0.8;z-index:4001; background: #000;font-size: small;vertical-align: middle'>Contract</th>"
                                        +"<th style='min-width:120px;position:sticky;position: -webkit-sticky;top:0;opacity:0.8;z-index:4001; background: #000;font-size: small;vertical-align: middle'>Direction</th>"
                                        +"<th style='min-width:85px;position:sticky;position: -webkit-sticky;top:0;opacity:0.8;z-index:4001; background: #000;font-size: small;vertical-align: middle'>Arrival</th>"
                                        +"<th style='min-width:85px;position:sticky;position: -webkit-sticky;top:0;opacity:0.8;z-index:4001; background: #000;font-size: small;vertical-align: middle'>Freq:<br>AM Peak</th>"
                                        +"<th style='min-width:85px;position:sticky;position: -webkit-sticky;top:0;opacity:0.8;z-index:4001; background: #000;font-size: small;vertical-align: middle'>Freq:<br>Offpeak</th>"
                                        +"<th style='min-width:85px;position:sticky;position: -webkit-sticky;top:0;opacity:0.8;z-index:4001; background: #000;font-size: small;vertical-align: middle'>Freq:<br>PM Peak</th>"
                                        +"<th style='min-width:85px;position:sticky;position: -webkit-sticky;top:0;opacity:0.8;z-index:4001; background: #000;font-size: small;vertical-align: middle'>Freq:<br>PM Offpeak</th>"+"</tr>" 
                                        + "</thead>"
                                        +"<tbody style = ''>"
                                        +"<tr>"
                                        +"<td style = 'vertical-align: middle;position:sticky;position: -webkit-sticky;left:0;opacity:0.8;z-index:4000; background: darkblue;font-size: small;'>"+data["Services"][0]+"</td>"
                                        +"<td style = 'vertical-align: middle;font-size: small;'>"+data["Packages"][0]+"</td>"
                                        +"<td style = 'vertical-align: middle;font-size: small;'>"+data["Direction"][0]+"</td>"
                                        +html_arrivalTime
                                        +"<td style = 'vertical-align: middle;font-size: small;'>"+data["AM_Peak_Freq"][0]+"</td>"
                                        +"<td style = 'vertical-align: middle;font-size: small;'>"+data["AM_Offpeak_Freq"][0]+"</td>"
                                        +"<td style = 'vertical-align: middle;font-size: small;'>"+data["PM_Peak_Freq"][0]+"</td>"
                                        +"<td style = 'vertical-align: middle;font-size: small;'>"+data["PM_Offpeak_Freq"][0]+"</td>"
                                        +"</tr>"
                                }else{
                                    var arrivalTime = data["ArrivalTime"][i];
                                    if (arrivalTime.includes("ARR")){
                                        var html_arrivalTime = "<td style='background:mediumvioletred;vertical-align: middle;font-size: small;'>"+data["ArrivalTime"][i]+"</td>"
                                    } else if ((arrivalTime.includes("1 min")&& arrivalTime.charAt(1) === " ")){ // Ensures that 11 min does not trigger
                                        var html_arrivalTime = "<td style='background:palevioletred;vertical-align: middle;font-size: small;'>"+data["ArrivalTime"][i]+"</td>"
                                    } else {
                                        var html_arrivalTime = "<td style = 'vertical-align: middle;font-size: small;'>"+data["ArrivalTime"][i]+"</td>"
                                    }
                                    text +="<tr>"
                                    +"<td style = 'vertical-align: middle;position:sticky;position: -webkit-sticky;left:0;opacity:0.8;z-index:4000; background: darkblue;font-size: small;'>"+data["Services"][i]+"</td>"
                                    +"<td style = 'vertical-align: middle;font-size: small;'>"+data["Packages"][i]+"</td>"
                                    +"<td style = 'vertical-align: middle;font-size: small;'>"+data["Direction"][i]+"</td>"
                                    +html_arrivalTime
                                    +"<td style = 'vertical-align: middle;font-size: small;'>"+data["AM_Peak_Freq"][i]+"</td>"
                                    +"<td style = 'vertical-align: middle;font-size: small;'>"+data["AM_Offpeak_Freq"][i]+"</td>"
                                    +"<td style = 'vertical-align: middle;font-size: small;'>"+data["PM_Peak_Freq"][i]+"</td>"
                                    +"<td style = 'vertical-align: middle;font-size: small;'>"+data["PM_Offpeak_Freq"][i]+"</td>"
                                    +"</tr>"
                                    +"</tbody>"
                                }

                            }
                            // https://stackoverflow.com/questions/15811653/table-with-fixed-header-and-fixed-column-on-pure-css
                            document.getElementById("BusArrival_Info").innerHTML = "<table style='width:100%' class='table table-striped table-dark table-bordered table-sm'>"+text+"</table>";
                            // document.getElementById("BusArrival_Info").innerHTML = "<table>"+text+"</table>";
                            $('#busStopData_Loading').html("<h5><i>Loading.........</i></h5>") // Show loading in place of an empty space.

                            // Plotly z list -  based on BSCODE selected
                            var z_list = [];
                            for (i = 23; i >=0; i--){
                                var z_TempList = [];
                                if (typeof data["zList_raw"]["tapInWEEKDAY_"+i] !== 'undefined'){
                                    z_TempList.push(data["zList_raw"]["tapInWEEKDAY_"+i]);
                                } else {
                                    z_TempList.push(null);
                                }
                                if (typeof data["zList_raw"]["tapInWEEKENDS/HOLIDAY_"+i] !== 'undefined'){
                                    z_TempList.push(data["zList_raw"]["tapInWEEKENDS/HOLIDAY_"+i]);
                                } else {
                                    z_TempList.push(null);
                                }
                                z_list.push(z_TempList)
                            }
                            var plot_data = [
                                {
                                    z: z_list,
                                    x: ['WkDay','WkEnds/PH'],
                                    y: [
                                                '11PM',
                                                '10PM',
                                                '9PM',
                                                '8PM',
                                                '7PM',
                                                '6PM',
                                                '5PM',
                                                '4PM',
                                                '3PM',
                                                '2PM',
                                                '1PM',
                                                '12PM',
                                                '11AM',
                                                '10AM',
                                                '9AM',
                                                '8AM',
                                                '7AM', 
                                                '6AM',
                                                '5AM',
                                                '4AM',
                                                '3AM',
                                                '2AM',
                                                '1AM',
                                                '12AM'
                                    ],
                                    type: 'heatmap',
                                    colorscale: 'YlOrRd_r',
                                    hoverongaps: false,
                                    showscale: false,
                                }
                            ];
                            var layout = {
                                //plot_bgcolor:"black",
                                paper_bgcolor:"#FFF3",
                                title: {
                                    text:'Hourly Tap-In',
                                    font: {
                                    family: 'Calibri',
                                    size: 24
                                    },
                                    xref: 'paper',
                                    x: 0.5,
                                }
                            };
                            var config = {responsive: true,displayModeBar: false}
                            $('#busStopData_Loading').html("") // Make empty the loading div now that the Heatmap and Bus Arrival Table have completed loading.
                            Plotly.newPlot('heatMapLoading', plot_data,layout,config);
                        })
                    })
                
                // Goes through GeoJson to find the layer of the respective BSCode.
                var lyr = returnBSbyBSCODE(BSCODE);
                if (lyr){
                    if (lyrSearch){
                        lyrSearch.remove();
                    }
                    lyrSearch = L.geoJSON(lyr.toGeoJSON(),{style:{color:'red',weight:10,opacity:0.5}}).addTo(mymap);
                    mymap.setView(lyr._latlng, 17); // Zoom to marker

                    // Create: Marker of selected bus stop
                    if (clickedBS_marker) { // Remove only if clickedBS_marker is set.
                        clickedBS_marker.remove();
                    }
                    clickedBS_marker = L.marker(lyr._latlng, {icon: clickedBS,zIndexOffset: 2000}).addTo(mymap);
    
                    var att = lyr.feature.properties;
                    if(att.PT_CODE.toString().length === 4){
                        var BSCode_Raw = "0"+att.PT_CODE.toString() // Solves the problem of GeoJson in wrong BSCode Format.
                    }else{
                        BSCode_Raw = att.PT_CODE.toString()
                    }

                    $("#divBSData").html(
                        "<h5>"+att.Description+"</h5>"
                        +"<h6>(BS "+BSCode_Raw+")</h6>"
                        +"<h6>GRC/SMC: "+att.GRC_SMC+"</h6>"
                        )
                    /*
                    featureDrawnItems.clearLayers();
                    featureDrawnItems.addLayer(lyr);
                    */
                } else {
                    $("#divProjectError").html("***** BS Code Not Found! *****")
                }
            }

            // 7) Event Handler
            // Event handler: When user presses the 'Find Bus Stop' button.
            $("#btnFindBS").click(refreshInfo);

            // Radio Button click (Weekends/Holiday or Weekday)
            $("input[name=fltBS]").click(function(){
                arBSCodes = [];
                // TIP!!!!
                // https://stackoverflow.com/questions/42862370/refresh-marker-clusters-after-geojson-layer-has-changed
                lyrMarkerCluster.clearLayers(); // Clear MarkerCluster Layer First
                ridership_geoJson.refresh(); // Then refresh point, otherwise the old marker will remain
            });

            $("#Time_FilterBS").on("change", function(e) {
                arBSCodes = [];
                // TIP!!!!
                // https://stackoverflow.com/questions/42862370/refresh-marker-clusters-after-geojson-layer-has-changed
                lyrMarkerCluster.clearLayers(); // Clear MarkerCluster Layer First
                ridership_geoJson.refresh(); // Then refresh point, otherwise the old marker will remain
            });

            // ---------------------------------------------------------------------------

            // ---------------------------------------------------------------------------
            // Function 2: District Polygon Functions
            // Filtering Properties of DISTRICTS geoJson Polygon.
            // The input variables come from the Functions available for GeoJson! See Leaflet Docs!!
            // ---------------------------------------------------------------------------
            function styleRegions(json){
                var att = json.properties; //all the json properties
                switch (att.REGION_N){
                    case 'WEST REGION':
                        return {color:'green',dashArray:"5,5"};
                        break;
                    case 'CENTRAL REGION':
                        return {color:'red',dashArray:"5,5"};
                        break;
                    case 'EAST REGION':
                        return {color:'blue',dashArray:"5,5"};
                        break;
                    case 'NORTH REGION':
                        return {color:'yellow',dashArray:"5,5"};
                        break; 
                    case 'NORTH-EAST REGION':
                        return {color:'purple',dashArray:"5,5"};
                        break; 
                    default:
                        return {color:'black'};
                        break;
                }
            }

            function processRegions(json,lyr){
                var att = json.properties;
                lyr.bindTooltip(
                    "<h4><strong>"+ att.REGION_N + "</strong></h4>"
                    + "<h6> <strong>Planning Area: </strong>"+att.PLN_AREA_N+"</h6>"
                )
            }

            function filterDistricts(json){ // Set to filter opton of the geoJson constructor method.
                var arDistrictFilters =[];
                $("input[name=fltDistrict").each(function(){
                    if (this.checked){
                        arDistrictFilters.push(this.value);
                    }
                });
                var att = json.properties;
                switch (att.REGION_N) {
                    case 'WEST REGION':
                        return (arDistrictFilters.indexOf("WEST REGION") >= 0); 
                        break;
                    case 'CENTRAL REGION':
                    return (arDistrictFilters.indexOf("CENTRAL REGION") >= 0); 
                        break;
                    case 'EAST REGION':
                    return (arDistrictFilters.indexOf("EAST REGION") >= 0); 
                        break;
                    case 'NORTH REGION':
                    return (arDistrictFilters.indexOf("NORTH REGION") >= 0); 
                        break; 
                    case 'NORTH-EAST REGION':
                    return (arDistrictFilters.indexOf("NORTH-EAST REGION") >= 0); 
                        break; 
                }
            }

            // Event Handler: Select all District (Checkboxes with name=fltDistrict)
            $("#btnDistrictFilterAll").click(function(){
                $("input[name=fltDistrict]").prop('checked',true); // Select all District (Checkboxes with name=fltDistrict)
            });

            // Event Handler: Unselect all District (Checkboxes with name=fltDistrict)
            $("#btnDistrictFilterNone").click(function(){
                $("input[name=fltDistrict]").prop('checked',false); // Select all District (Checkboxes with name=fltDistrict)
            });

            // Event Handler: Filter District (Checkboxes with name=fltDistrict)
            $("#btnDistrictFilter").click(function(){
                lyrDistrict.refresh();
            });
            // ---------------------------------------------------------------------------

            // ---------------------------------------------------------------------------
            // Function 3: Bus Routes by BCM Packages
            // Selected based on BCM package radio buttons.
            // ---------------------------------------------------------------------------

            $("input[name=flt_Package]").click(function(){
                layer_Routes.refresh(); // Dyanmically replot the route polylines.
            });


            // style: To create randomised route colors.
            function styleBusSvcs(json){
                var max = 8;
                var min = 5;
                return {
                    color:'#'+Math.random().toString(16).substr(2,6),
                    weight: Math.floor(Math.random() * (max - min)) + min,
                    opacity: 0.4
                };
            }

            // Bind Pop-up: For Pop-up Description on each bus service polyline
            function returnBusSvcs(layer){
                var att = layer.feature.properties;
                
                return "<h4><strong>" + att.number + "</strong></h4>"
            }
            
            var offsetMultiply = 1;
            var randomChar = 0;
            var previousSvc = "";
            // onEachFeature: Uses Textpath plug-in to generation route direction.
            // https://github.com/makinacorpus/Leaflet.TextPath
            function processDirections(json,layer){
                // Only renders the route directions if the zoom level is above 14.
                if (mymap.getZoom()>=16){
                    var i;
                    var spaces = " "
                    
                    if (previousSvc !== json.properties.number){
                        randomChar += 10;
                        offsetMultiply +=1;
                    }
                    if (randomChar === 30){
                        randomChar = 0;
                    }
                    // var randomChar = Math.floor(Math.random() * 50);
                    for (i = 0; i<=randomChar;i+=2){
                        spaces = spaces + "  ";
                    }
                    // ((-5)*(Math.floor(Math.random() * (10 - 1)) + 1))
                    if (offsetMultiply === 8){
                        offsetMultiply = 1;
                    }
                    layer.setText(spaces + '--►- ' + json.properties.number + ' -►', 
                    {repeat: false, center: true,offset: (-8)*offsetMultiply, attributes: {fill: '#990000','font-weight': 'bold','font-size': '14'}})   
                    previousSvc = json.properties.number                        
                }
            }

            // filter
            // Radio Buttons: Select BCM Package
            function filterBusSvcs(layer){          
                var att = layer.properties;
                var Selected_Package = $("input[name=flt_Package]:checked").val();
                if (att.package == Selected_Package) {
                    return true;
                } else {
                    return false;
                }
                
            }
            // ---------------------------------------------------------------------------
        </script>
        

    </body>
    
</html>