<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="initial-scale=1,user-scalable=no,maximum-scale=1,width=device-width">
        <meta name="mobile-web-app-capable" content="yes">
        <!-- <meta name="apple-mobile-web-app-capable" content="yes"> -->
        <title>Bus Ridership (May 2020)</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='src/leaflet.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='src/css/bootstrap.css') }}">

        <!-- Plug-ins -->
        <link rel="stylesheet" href="{{ url_for('static', filename='src/plugins/L.Control.Pan.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='src/plugins/L.Control.Zoomslider.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='src/plugins/L.Control.MousePosition.css') }}">
        <link rel="stylesheet" href="https://ppete2.github.io/Leaflet.PolylineMeasure/Leaflet.PolylineMeasure.css" />
        <link rel="stylesheet" href="{{ url_for('static', filename='src/plugins/easy-button.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='src/plugins/L.Control.Sidebar.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='src/plugins/leaflet-opencage/src/css/L.Control.OpenCageSearch.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='src/plugins/MarkerCluster/MarkerCluster.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='src/plugins/MarkerCluster/MarkerCluster.Default.css') }}">
        <!-- end -->
        <script src = "{{ url_for('static', filename='src/leaflet-src.js')}}"></script>
        <script src = "{{ url_for('static', filename='src/jquery-3.5.1.min.js')}}"></script>
        <!-- General Plug-ins -->
        <script src = "{{ url_for('static', filename='src/plugins/L.Control.Pan.js')}}"></script>
        <script src = "{{ url_for('static', filename='src/plugins/L.Control.Zoomslider.js')}}"></script>
        <script src = "{{ url_for('static', filename='src/plugins/L.Control.MousePosition.js')}}"></script>
        <script src="https://ppete2.github.io/Leaflet.PolylineMeasure/Leaflet.PolylineMeasure.js"></script>
        <script src="{{ url_for('static', filename='src/plugins/easy-button.js')}}"></script>
        <script src = "{{ url_for('static', filename='src/plugins/L.Control.Sidebar.js')}}"></script>
        <script src = "{{ url_for('static', filename='src/plugins/leaflet-opencage/src/js/L.Control.OpenCageSearch.js')}}"></script>
        <script src = "{{ url_for('static', filename='src/plugins/leaflet-providers.js')}}"></script>
        <script src = "{{ url_for('static', filename='src/plugins/leaflet.ajax.min.js')}}"></script>
        <script src = "{{ url_for('static', filename='src/plugins/leaflet.sprite.js')}}"></script>
        <script src = "{{ url_for('static', filename='src/plugins/MarkerCluster/leaflet.markercluster.js')}}"></script>
        <script src = "{{ url_for('static', filename='src/plugins/leaflet.geometryutil.js')}}"></script>
        <!-- ---------------------------------------------------- -->
        <!-- FontAwesome Icons -->
        <!-- <link href="{{ url_for('static', filename='https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css')}}" rel="stylesheet"> -->
            <!-- https://stackoverflow.com/questions/46747950/font-awesome-icons-showing-up-as-square-boxes/55206385 -->
            <link rel="stylesheet" href="{{ url_for('static', filename='src/fonts/fontawesome-free-5.13.1-web/css/all.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='src/plugins/leaflet.awesome-markers.css') }}">
        <script src = "{{ url_for('static', filename='src/plugins/leaflet.awesome-markers.min.js')}}"></script>
        <!-- ---------------------------------------------------- -->

        <!-- Start: Leaflet Style Editor -->
        <script src="https://cdn.jsdelivr.net/npm/leaflet-styleeditor@latest/dist/javascript/Leaflet.StyleEditor.min.js"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet-styleeditor@latest/dist/css/Leaflet.StyleEditor.min.css" />
        <!-- ---------------------------------------------------- -->

        <!-- Start: Leaflet draw Plugin -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.2/leaflet.draw.css"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.2/leaflet.draw.js"></script>
        <!-- ---------------------------------------------------- -->

        <!-- Start: leaflet-omnivore -->
        <script src='//api.tiles.mapbox.com/mapbox.js/plugins/leaflet-omnivore/v0.3.1/leaflet-omnivore.min.js'></script>
        <!-- ---------------------------------------------------- -->

        <!-- Start: jQuery - AutoComplete -->
        <link rel="stylesheet" href="{{ url_for('static', filename='src/jQuery/jquery-ui.min.css')}}">
        <script src = "{{ url_for('static', filename='src/jQuery/jquery-ui.min.js')}}"></script>
        <!-- ---------------------------------------------------- -->
        
        <!-- Turf.js -->
        <script src='https://unpkg.com/@turf/turf/turf.min.js'></script>
        <!-- ---------------------------------------------------- -->

        <!-- HTML's Style Sheet -->
        <link rel="stylesheet" href="{{ url_for('static', filename='/css/style.css')}}">

        <!-- Plot.js -->
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        
        <!-- geoSearch https://github.com/smeijer/leaflet-geosearch -->
        <link
            rel="stylesheet"
            href="https://unpkg.com/leaflet-geosearch@3.0.0/dist/geosearch.css"
        />
        <script src="https://unpkg.com/leaflet-geosearch@3.0.0/dist/geosearch.umd.js"></script>

    </head>
    <body>
        <div id="loader"></div>
        <!-- <div id="loader">
            <img src="{{ url_for('static', filename='img/loading-gif2.gif')}}" alt="loading...">
        </div> -->
        <nav id="navbar" class="navbar navbar-dark bg-dark">
            <a class="navbar-brand" href="#">Bus Ridership</a>
            <button id="ActivateMenu" type="button" class="btn btn-info ssm-toggle-nav">Menu</button>
        </nav>

        <div class="row" id = "overallRow">
            <div id= "side-bar" class = "col-md-12">
                <button id = "btnLocate" class = 'btn btn-primary btn-block'>My Location</button><br>
                <!-- SEARCH BUS STOP -->
                <div id="divProject" class="col-xs-12">
                    <div id="divProjectLabel" class="text-center col-xs-12">
                        <h4>Select: Bus Stop</h4>
                    </div>
                    <div id="divProjectError" class="errorMsg col-xs-12"></div>
                    <div id="divFindBS" class="form-group has-error">
                        <div class="col-xs-6">
                            <input type="text" id="txtFindBS" class="form-control" placeholder="Type your BS Code">
                        </div>
                        <div class="col-vs-6">
                            <button type = "submit" id="btnFindBS" class="btn btn-danger btn-block" disable>Find Bus Stop</button>
                        </div>
                        <div class="" id="divBSData"></div>
                        <div id="heatMapLoading"></div>
                        <div id = "BusArrival_Info"></div>
                    </div> 
                </div>

                <div id="divProject2" class="col-xs-12">
                    <div id="divProjectLabel2" class="text-center col-xs-12">
                        <h4>Filter: Bus Stop Markers</h4>
                    </div>
                    <!-- RADIO BUTTONS -->
                    <div id="divFilterBS" class="col-xs-12">
                        <div class="col-l-12">
                            <input type="radio" name ='fltBS' value="WEEKDAY" checked> Weekday
                        </div>
                        <div class="col-l-12">
                            <input type="radio" name ='fltBS' value="WEEKENDS/HOLIDAY"> Weekends / Holiday
                        </div>
                    </div>
                    <div id="divProject3" class="col-xs-12">
                        <!-- DROP-DOWN LIST (TIme of Day) -->
                        <select id="Time_FilterBS" onchange="Selected_Time(this)">
                            <!-- <option value="" selected disabled hidden>Choose here</option> -->
                            <option value="5">05:00 to 06:00</option>
                            <option value="6">06:00 to 07:00</option>
                            <option value="7">07:00 to 08:00 </option>
                            <option value="8">08:00 to 09:00</option>
                            <option value="9">09:00 to 10:00</option>
                            <option value="10">10:00 to 11:00</option>
                            <option value="11">11:00 to 12:00</option>
                            <option value="12">12:00 to 13:00</option>
                            <option value="13">13:00 to 14:00</option>
                            <option value="14">14:00 to 15:00</option>
                            <option value="15">15:00 to 16:00</option>
                            <option value="16">16:00 to 17:00</option>
                            <option value="17">17:00 to 18:00</option>
                            <option value="18">18:00 to 19:00</option>
                            <option value="19">19:00 to 20:00</option>
                            <option value="20">20:00 to 21:00</option>
                            <option value="21">21:00 to 22:00</option>
                            <option value="22">22:00 to 23:00</option>
                            <option value="23">23:00 to 24:00</option>
                            <option value="23">23:00 to 24:00</option>
                            <option value="0">00:00 to 01:00</option>
                            <option value="1">01:00 to 02:00</option>
                            <option value="2">02:00 to 03:00</option>
                            <option value="3">03:00 to 04:00</option>
                            <option value="4">04:00 to 05:00</option>
                            <option value="5">05:00 to 06:00</option>
                            <option value="6">06:00 to 07:00</option>
                          </select>                   
                    </div>                   
                </div>


                <div></div>
                <div id="divProject4" class="col-xs-12">
                    <div id="divProjectLabel4" class="text-center col-xs-12">
                        <h4>Filter: Regions</h4>
                    </div>
                    <!-- CHECKBOX (Select District) -->
                    <div class="col-xs-4">
                        <input type="checkbox" name="fltDistrict" value ="WEST REGION" unchecked> West Region <br>
                        <input type="checkbox" name="fltDistrict" value ="CENTRAL REGION" unchecked> Central Region <br>
                        <input type="checkbox" name="fltDistrict" value ="EAST REGION" unchecked> East Region <br>
                        <input type="checkbox" name="fltDistrict" value ="NORTH-EAST REGION" unchecked> North-East Region <br>
                        <input type="checkbox" name="fltDistrict" value ="NORTH REGION" unchecked> North Region <br>
                        <button id="btnDistrictFilterAll" class="btn btn-secondary btn-block">Select: All Regions</button>
                        <button id="btnDistrictFilterNone" class="btn btn-secondary btn-block">Unselect: All Regions</button>
                        <button id="btnDistrictFilter" class="btn btn-warning btn-block">Filter District!</button>
                    </div>
                </div>

            </div> 
            
            <div id = "mapdiv" class = "col-md-12">
                
            </div> 

        </div>


        <script>
            // Leaflet Core
            var mymap, mrkCurrentLocation, popZocalo, ctlZoom,ctlAttribute, ctlScale;
            // Map Layers
            var lyrOSM, lyrOneMapDefault, lyrTopo,lyrImagery,lyrTransport;
            var ctlLayers; // layer Control
            var objBasemaps, objOverlays;
            // GeoJson Layer
            var busStops_geoJson;
            // Ridership Layer
            var ridership_geoJson;
            // Feature Group
                var featureDrawnItems;
            // Leaflet Plugins
            var ctlZoomslider; // Zoom Slider: http://kartena.github.io/Leaflet.zoomslider/
            var ctlMousePosition; // Mouse Position: https://github.com/ardhi/Leaflet.MousePosition
            var ctlMeasure; // PolylineMeasure: https://github.com/ppete2/Leaflet.PolylineMeasure
            var ctlSidebar; // SideBar v1: https://github.com/turbo87/leaflet-sidebar/
            var ctlSearch; // OpenCageSearch: https://github.com/OpenCageData/leaflet-opencage-search
            // Leaflet Draw Plug-in
            var ctlDraw; // Leaflet Draw: https://github.com/Leaflet/Leaflet.draw
            // Leaflet Style Editor Plug-in
            var ctlStyle; // https://github.com/dwilhelm89/Leaflet.StyleEditor
            // Sprite Icon
            var iconRedSprite;
            var iconVioletSprite;
            // Marker Cluster - Ridership
            var lyrMarkerCluster
            // Polygon layer - District
            var lyrDistrict
            // Search BS
            var lyrSearch
            var arBSCodes = []
            // Global variable for TIME_PER_HOUR for drop-down list
            var today = new Date();
            var TIME_PER_HOUR = today.getHours() // Initialise as current hour
            selectElement('Time_FilterBS',today.getHours()) // Update the Drop-down Menu as Current Hour

            var preloader = document.getElementById('loader');

            // Async to store large ridership geojson data.
            function httpGetAsync(theUrl, callback) {
                var xmlHttp = new XMLHttpRequest();
                xmlHttp.onreadystatechange = function() {
                    if (xmlHttp.readyState == 4 && xmlHttp.status == 200)
                        callback(JSON.parse(xmlHttp.responseText));
                        /*
                        if (callback) {
                            callback(data);
                        }  
                        */  
                }
                xmlHttp.open("GET", theUrl, true); // true for asynchronous
                xmlHttp.send(null);
            }
              
            

            // Programmatically Obtain Selected Time.
            // https://stackoverflow.com/questions/78932/how-do-i-programmatically-set-the-value-of-a-select-box-element-using-javascript
            function selectElement(id, valueToSelect) {    
                let element = document.getElementById(id);
                element.value = valueToSelect;
            }
            // j-Query - Only create map once div has been created.
            $(document).ready(function(){

                //----------------------------------------------------
                // Map Initialisation
                //----------------------------------------------------
                mymap = L.map('mapdiv',
                {
                    center: [1.3649222, 103.8125610],
                    zoom:12,
                    zoomControl:false
                });
                // ***** Attribution *****
                ctlAttribute = L.control.attribution({position:"bottomleft"});
                ctlAttribute.addTo(mymap);
                ctlAttribute.addAttribution('OSM');
                //ctlAttribute.addAttribution('&copy; <a href = "https://www.onemap.sg/main/v2/">OneMap</a>');// &copy is CopyRight Symbol.
                //----------------------------------------------------

                //----------------------------------------------------
                // Icons
                //----------------------------------------------------
                iconRedSprite = L.AwesomeMarkers.icon({icon:'bus',markerColor:'red',prefix:'fa',iconColor:"FF0000"})
                iconVioletSprite = L.AwesomeMarkers.icon({icon:'bus',markerColor:'blue',prefix:'fa',iconColor:"FF0000",spin:false})
                //----------------------------------------------------
                
                //----------------------------------------------------
                // LAYER Initialisation
                //----------------------------------------------------
                lyrOSM = L.tileLayer.provider('OpenStreetMap.Mapnik')
                lyrOneMapDefault = L.tileLayer.provider('OneMapSG.Default')
                lyrTopo = L.tileLayer.provider('OpenTopoMap')
                lyrImagery = L.tileLayer.provider('Esri.WorldImagery')
                lyrTransport = L.tileLayer.provider('Thunderforest.Transport') // Add API key in 
                mymap.addLayer(lyrOSM);  // Initial Map
                //----------------------------------------------------

                // ----------------------------------------------------------------------------------
                // LAYERS
                // NOTE: Remember to run on live server.
                // ----------------------------------------------------------------------------------

                // Layer 1: Ridership
                lyrMarkerCluster = L.markerClusterGroup({ disableClusteringAtZoom: 16 });
                ridership_geoJson = L.geoJSON.ajax("{{url_for('static', filename='/data/LTAMall_Ridership_Data.geojson')}}", {pointToLayer:returnBusStopMarker,filter:filterBusStopTimePeriod});
                ridership_geoJson.on('data:loaded',function(){ // once data loaded
                    arBSCodes.sort();
                    $("#loader").fadeOut("slow");//Loading Animation
                    $("#txtFindBS").autocomplete({
                        source: arBSCodes
                    });
                    lyrMarkerCluster.addLayer(ridership_geoJson);
                    lyrMarkerCluster.addTo(mymap);
                    mymap.fitbounds(ridership_geoJson.getBounds());
                });
                

                // Layer 2: Drawing Features
                featureDrawnItems = new L.featureGroup();
                featureDrawnItems.addTo(mymap);

                // Layer 3: District (2019)
                lyrDistrict = L.geoJson.ajax("{{url_for('static', filename='/data/PlanningBoundary_2019.geojson')}}",{style:styleRegions,onEachFeature:processRegions, filter:filterDistricts}).addTo(mymap)
                // ----------------------------------------------------------------------------------

                //----------------------------------------------------
                // SETUP: LAYER CONTROL
                //----------------------------------------------------
                // BaseMaps
                objBasemaps = {
                    "Open Street Maps" : lyrOSM,
                    "Topo Map": lyrTopo,
                    "One Map Default": lyrOneMapDefault,
                    "Imagery": lyrImagery,
                    "Transport":lyrTransport
                };
                // Overlays
                objOverlays = {
                    "Drawn Items":featureDrawnItems,
                    'Planning Boundary (2019)':lyrDistrict,
                    "Bus Stops":lyrMarkerCluster
                };
                
                // ctlLayers = L.control.layers(objBasemaps, objOverlays).addTo(mymap);
                //----------------------------------------------------

                // ----------------------------------------------------------------------
                // PLUG-INS
                // ----------------------------------------------------------------------

                // ***** Scale *****
                ctlScale = L.control.scale({position:'bottomleft',maxWidth:200}).addTo(mymap);
                // ***** Panning arrows *****
                // ctlPan = L.control.pan().addTo(mymap);
                // ***** Custom Zoom Slider *****
                ctlZoomslider = L.control.zoomslider({position:'topright'}).addTo(mymap);
                ctlMousePosition = L.control.mousePosition().addTo(mymap);

                // Menu Toggle to activate sidebar
                $("#ActivateMenu").click(function(){
                    ctlSidebar.toggle();
                });
                // ***** Sidebar V1 *****
                ctlSidebar = L.control.sidebar('side-bar',{closeButton:false,autoPan:false}).addTo(mymap);
                ctlMeasure = L.control.polylineMeasure().addTo(mymap);

                // ***** OpenCage Search Location *****
                ctlSearch = L.Control.openCageSearch({key:'17d0c3cd10484522b857c1814cd9df16',limit:10}).addTo(mymap); // Key is from OpenCage account: NightFury555 GitHub Account.
                

                /*
                // ***** GeoSearch *****
                const search = new GeoSearch.GeoSearchControl({
                    provider: new GeoSearch.OpenStreetMapProvider(),
                    style: 'bar',
                    showMarker: true, // optional: true|false  - default true
                    showPopup: false, // optional: true|false  - default false
                    marker: {
                      // optional: L.Marker    - default L.Icon.Default
                      icon: new L.Marker,
                      draggable: false,
                    },
                    popupFormat: ({ query, result }) => result.label, // optional: function    - default returns result label
                    maxMarkers: 1, // optional: number      - default 1
                    retainZoomLevel: false, // optional: true|false  - default false
                    animateZoom: true, // optional: true|false  - default true
                    autoClose: false, // optional: true|false  - default false
                    searchLabel: 'Enter address...', // optional: string      - default 'Enter address'
                    keepResult: false, // optional: true|false  - default false
                  });
                  mymap.addControl(search);

                  mymap.on('geosearch/showlocation', function(result) {
                    console.log(result);
                   });
                */

                // ***** Leaflet Draw Plug-in *****
                ctlDraw = new L.Control.Draw({
                    draw:{
                        polyline: false,
                        circle:true,
                        polygon:false,
                        rectangle:false,
                        marker:true
                    },
                    edit:{
                        featureGroup:featureDrawnItems,
                        remove:true // Delete button
                    }
                });
                mymap.addControl(ctlDraw);

                mymap.on('draw:created',function(e){ // shapes drawn will be added to 'featureGroup1'
                    var llRef = e.layer.getLatLng();
                    var strTable = "<H6>Nearest Bus Stop: </H6><table class = 'table table-dark'>";
                    strTable +="<tr><th>BS Code</th><th>Description</th><th>Distance</th><th>Direction</th></tr>";
                    var nearestBS = returnClosestlayer(ridership_geoJson,llRef);
                    strTable +="<tr><td>"+nearestBS.att.PT_CODE+"</td><td>"+nearestBS.att.Description+"</td><td>"+nearestBS.distance.toFixed(0)+"m</td><td>"+nearestBS.bearing.toFixed(0)+"°</td></tr>";
                    strTable +="</table>";
                    featureDrawnItems.addLayer(e.layer.bindPopup(strTable,{maxWidth:400}));

                })

                // ***** Style Editor *****
                mymap.addControl(L.control.styleEditor())
                // ----------------------------------------------------------------------

                // ----------------------------------------------------------------------
                // jQuery EVENT Handlers: HTML Methods to Create Controls / On mouse and Keyboard Interactions
                // ----------------------------------------------------------------------
                
                // ***** LOCATION CONTROL *****
                // When location is found.
                mymap.on('locationfound', function(e){
                    if (mrkCurrentLocation) { // Remove only if mrkCurrentLocation is set.
                        mrkCurrentLocation.remove();
                    }
                    
                    mrkCurrentLocation = L.circleMarker(e.latlng,{radius:e.accuracy/2}).addTo(mymap); //accuracy is reported in meter
                    mymap.setView(e.latlng,14);
                });

                // In the event of unable to find location.
                mymap.on('locationerror',function(e){
                    console.log(e);
                    alert('Location not found!')
                })
                
                // Return Zoom Level at the end of map zoom.
                mymap.on('zoomend', function(e){
                    $("#zoom-level").html(mymap.getZoom());
                })

                // Return LatLong of Map center
                mymap.on('moveend',function(){
                    $("#map-center").html(latLngToArrayString(mymap.getCenter()));
                })

                // ***** Show Lat/Lng at mousepoint *****
                mymap.on('mousemove',function(e){
                    $("#mouse-location").html(latLngToArrayString(e.latlng));
                });

                // ***** SIDE-BAR *****
                $("#btnLocate").click(function(){
                    mymap.locate(
                        {
                            locateOptions: {
                                flyTo:true,
                                initialZoomLevel: 18,
                                enableHighAccuracy: true,
                                showCompass: true,
                                drawMarker:true
                        }
                    });
                });


                // ---------------------------------------------------------------------------
                    
            });
            // ***** END OF MAP COMPONENTS *****         

            // ---------------------------------------------------------------------------
            // GENERAL FUNCTIONS
            // ---------------------------------------------------------------------------

            // ***** Function 1: Converts LatLng object to [lat,long] *****
            function latLngToArrayString(ll){
                return "["+ll.lat.toFixed(3) + ', ' + ll.lng.toFixed(3)+']'
            }

            // Function 2.1 - Distance between two points
            function returnLength(arLatLng){
                var total=0;
                for (var i = 1; i<arLatLng.length;i++){
                    total = total + arLatLng[i-1].distanceTo(arLatLng[i])
                }
                return total;
            }

            // Function 2.2 - Sums up the distance of arrays of line
            function returnMultiLength(arArLatLng){
                var total =0;
                for (var i=0;i<arArLatLng.length;i++){
                    total = total + returnLength(arArLatLng[i]);
                }
                return total
            }

            function returnClosestlayer(lyrGroup,llRef){
                var arLyrs = lyrGroup.getLayers();
                var nearest = L.GeometryUtil.closestLayer(mymap,arLyrs,llRef);
                nearest.distance = llRef.distanceTo(nearest.latlng); // Overide the distance in nearest (return from closestLayer() method)
                nearest.bearing = L.GeometryUtil.bearing(llRef,nearest.latlng);
                if (nearest.bearing<0){
                    nearest.bearing = nearest.bearing + 360;
                }
                nearest.att = nearest.layer.feature.properties;
                return nearest;
            }
            // ---------------------------------------------------------------------------

            // ---------------------------------------------------------------------------
            // 1) RIDERSHIP Functions
            // Filtering Properties of RIDERSHIP geoJson points.
            // The input variables come from the Functions available for GeoJson! See Leaflet Docs!!
            // ---------------------------------------------------------------------------
            function busStopClick(e){
                var clicked_BSCode = e.target['feature']['properties']['PT_CODE']
                var clicked_Description = e.target['feature']['properties']['Description']
                if(clicked_BSCode.toString().length === 4){
                    var cleaned_clicked_BSCode = "0"+clicked_BSCode.toString() // Solves the problem of GeoJson in wrong BSCode Format.
                    $("#txtFindBS").val(cleaned_clicked_BSCode+": "+clicked_Description); // https://stackoverflow.com/questions/5709258/jquery-change-input-text-value
                    $('#btnFindBS').click();
                    ctlSidebar.show();
                }else{
                    var cleaned_clicked_BSCode = clicked_BSCode.toString()
                    $("#txtFindBS").val(cleaned_clicked_BSCode+": "+clicked_Description); //https://stackoverflow.com/questions/5709258/jquery-change-input-text-value
                    $('#btnFindBS').click();
                    ctlSidebar.show();
                }
            }

            // 1) Function
            // - Creates the Tooltip for the Bus Stop Points. Red = + tap-in. Blue = - Tap-in
            // - Also helps build the auto-complete list of BS Codes
            function returnBusStopMarker(json,latlng){
                var att = json.properties;
                
                
                if (att.TOTAL_TAP_IN_VOLUME - att.TOTAL_TAP_OUT_VOLUME >=0){
                    var clrBS = "Red";
                    var iconBS = iconRedSprite;
                }else{
                    var clrBS = "blue";
                    var iconBS = iconVioletSprite;
                }

                if(att.PT_CODE.toString().length === 4){
                    var BSCode_Raw = "0"+att.PT_CODE.toString() // Solves the problem of GeoJson in wrong BSCode Format.
                }else{
                    BSCode_Raw = att.PT_CODE.toString()
                }
                
                arBSCodes.push(BSCode_Raw +": " + att.Description.toString()) // Push each PT_CODE into Array.
                return L.marker(latlng,{icon:iconBS}).bindTooltip(
                "<h4><strong>" + att.Description + "</strong></h4>"
                + "<h6>(BS " + BSCode_Raw +")</h6><br>" 
                + "<h6> Tap-in: "+att.TOTAL_TAP_IN_VOLUME + "</h6>"
                + "<h6> Tap-out: "+att.TOTAL_TAP_OUT_VOLUME + "</h6>"
                    ).on('click',busStopClick)
            }

            // 2.1) Function
            // Updates the global TIME_PER_HOUR
            // Value is taken from Dropdownlist
            function Selected_Time(obj) {
                TIME_PER_HOUR = (obj.value)
            }

            // 2.2) Function
            // Filters the TIME_PER_HOUR and DAY_TYPE
            //var TIME_PER_HOUR = 12 // SET THIS *****
            function filterBusStopTimePeriod(point){
                
                var att = point.properties;
                var DAY_TYPE = $("input[name=fltBS]:checked").val();

                if (att.TIME_PER_HOUR == TIME_PER_HOUR && att.DAY_TYPE == DAY_TYPE) {
                    return true;
                } else {
                    return false;
                }
            }

            // 3) Function
            // Loops through all the available Bus stops and return the one that is in the input file
            function returnBSbyBSCODE(BSCODE){
                var arLayers = ridership_geoJson.getLayers();
                for (i=0;i<arLayers.length-1;i++){
                    var featureID = arLayers[i].feature.properties.PT_CODE; //Get the BSCODE of Layer
                    if (featureID == BSCODE) {
                        return arLayers[i];
                    }
                }
                return false; // Executed if cannot find.
            }

            // 4) Function
            // Tests if the user input correct BS Code
            function testBSCode(input){
                if (arBSCodes.indexOf(input)<0){
                    $("#divFindBS").addClass("has-error");
                    $("#divProjectError").html("***** BS CODE NOT FOUND *****");
                    $("#btnFindBS").attr("disabled",true)
                } else {
                    $("#divFindBS").removeClass("has-error");
                    $("#divProjectError").html("");
                    $("#btnFindBS").attr("disabled",false)                    
                }
            };


            // 5) Event handler for BS Code Input
            $("#txtFindBS").on('keyup paste', function(){ // Everytime the user presses a key/ paste in
                var input = $("#txtFindBS").val(); // pass a value
                testBSCode(input);
            });

            // 6) jQuery to extract user input.
            $("#btnFindBS").click(function(){
                var appdir='/';
                var input = $("#txtFindBS").val(); // Extract User input.
                var BSCODE = (input.substring(0,input.indexOf(":",0))) //Trim from 0 to point where ":" is found.

                // Removes the previous content of the HeatMap Elements.    
                $("#heatMapLoading").empty();

                fetch(`${window.origin}/BusArrival`, {
                    method: "POST",
                    credentials: "include",
                    body: JSON.stringify({
                        BSCODE:BSCODE
                    }),
                    cache: "no-cache",
                    headers: new Headers({
                        "content-type": "application/json"
                    })
                    })
                    .then(function (response) {
                        if (response.status!== 200) {
                            console.log('Response Status not 200');
                            return ; // Stop the fetch from running.
                        }
                        // If response is 200.
                        response.json().then(function(data){
                            var i,svcs;
                            var text = ""; 
                            // Bus Arrival Table
                            for (i=0;i<data["Number_Svcs"];i++) {
                                if(i === 0){
                                    // To register header and the first row
                                    text +="<tr>"+"<th style='min-width:80px'>Services</th>"+"<th style='min-width:80px'>Contract</th>"+"<th style='min-width:80px'>Direction</th>"+"<th style='min-width:80px'>Arrival</th>"+"</tr>"
                                        +"<tr>"
                                        +"<td>"+data["Services"][0]+"</td>"
                                        +"<td>"+data["Packages"][0]+"</td>"
                                        +"<td>"+data["Direction"][0]+"</td>"
                                        +"<td>"+data["ArrivalTime"][0]+"</td>"
                                        +"</tr>"
                                }else{
                                    text +="<tr>"
                                    +"<td>"+data["Services"][i]+"</td>"
                                    +"<td>"+data["Packages"][i]+"</td>"
                                    +"<td>"+data["Direction"][i]+"</td>"
                                    +"<td>"+data["ArrivalTime"][i]+"</td>"
                                    +"</tr>"
                                }

                            }
                            document.getElementById("BusArrival_Info").innerHTML = "<table style='width:100%' class='table table-striped table-dark table-bordered table-sm'>"+text+"</table>";
                            
                            // Plotly z list -  based on BSCODE selected
                            var z_list = [];
                            for (i = 23; i >=0; i--){
                                var z_TempList = [];
                                if (typeof data["zList_raw"]["tapInWEEKDAY_"+i] !== 'undefined'){
                                    z_TempList.push(data["zList_raw"]["tapInWEEKDAY_"+i]);
                                } else {
                                    z_TempList.push(null);
                                }
                                if (typeof data["zList_raw"]["tapInWEEKENDS/HOLIDAY_"+i] !== 'undefined'){
                                    z_TempList.push(data["zList_raw"]["tapInWEEKENDS/HOLIDAY_"+i]);
                                } else {
                                    z_TempList.push(null);
                                }
                                z_list.push(z_TempList)
                            }
                            var plot_data = [
                                {
                                    z: z_list,
                                    x: ['WkDay','WkEnds/PH'],
                                    y: [
                                                '11PM',
                                                '10PM',
                                                '9PM',
                                                '8PM',
                                                '7PM',
                                                '6PM',
                                                '5PM',
                                                '4PM',
                                                '3PM',
                                                '2PM',
                                                '1PM',
                                                '12PM',
                                                '11AM',
                                                '10AM',
                                                '9AM',
                                                '8AM',
                                                '7AM', 
                                                '6AM',
                                                '5AM',
                                                '4AM',
                                                '3AM',
                                                '2AM',
                                                '1AM',
                                                '12AM'
                                    ],
                                    type: 'heatmap',
                                    colorscale: 'YlOrRd_r',
                                    hoverongaps: false,
                                    showscale: false,
                                }
                            ];
                            var layout = {
                                //plot_bgcolor:"black",
                                paper_bgcolor:"#FFF3",
                                title: {
                                    text:'Hourly Tap-In',
                                    font: {
                                    family: 'Calibri',
                                    size: 24
                                    },
                                    xref: 'paper',
                                    x: 0.5,
                                }
                            };
                            var config = {responsive: true,displayModeBar: false}
                            Plotly.newPlot('heatMapLoading', plot_data,layout,config);

                        })
                    })

                var lyr = returnBSbyBSCODE(BSCODE);
                if (lyr){
                    if (lyrSearch){
                        lyrSearch.remove();
                    }
                    lyrSearch = L.geoJSON(lyr.toGeoJSON(),{style:{color:'red',weight:10,opacity:0.5}}).addTo(mymap);
                    mymap.setView(lyr._latlng, 17); // Zoom to marker
                    var att = lyr.feature
                    .properties;
                    if(att.PT_CODE.toString().length === 4){
                        var BSCode_Raw = "0"+att.PT_CODE.toString() // Solves the problem of GeoJson in wrong BSCode Format.
                    }else{
                        BSCode_Raw = att.PT_CODE.toString()
                    }
                    $("#divBSData").html(
                        "<h5>"+att.Description+"</h5>"
                        +"<h6>(BS "+BSCode_Raw+")</h6>"
                        )
                    
                    featureDrawnItems.clearLayers();
                    featureDrawnItems.addLayer(lyr);
                } else {
                    $("#divProjectError").html("***** BS Code Not Found! *****")
                }
            });


            // 7) Event Handler
            // Radio Button click (Weekends/Holiday or Weekday)
            $("input[name=fltBS]").click(function(){
                arBSCodes = [];
                // TIP!!!!
                // https://stackoverflow.com/questions/42862370/refresh-marker-clusters-after-geojson-layer-has-changed
                lyrMarkerCluster.clearLayers(); // Clear MarkerCluster Layer First
                ridership_geoJson.refresh(); // Then refresh point, otherwise the old marker will remain
            });

            $("#Time_FilterBS").on("change", function(e) {
                arBSCodes = [];
                // TIP!!!!
                // https://stackoverflow.com/questions/42862370/refresh-marker-clusters-after-geojson-layer-has-changed
                lyrMarkerCluster.clearLayers(); // Clear MarkerCluster Layer First
                ridership_geoJson.refresh(); // Then refresh point, otherwise the old marker will remain
            });

            // ---------------------------------------------------------------------------

            // ---------------------------------------------------------------------------
            // Function 2: District Polygon Functions
            // Filtering Properties of DISTRICTS geoJson Polygon.
            // The input variables come from the Functions available for GeoJson! See Leaflet Docs!!
            // ---------------------------------------------------------------------------
            function styleRegions(json){
                var att = json.properties; //all the json properties
                switch (att.REGION_N){
                    case 'WEST REGION':
                        return {color:'green',dashArray:"5,5"};
                        break;
                    case 'CENTRAL REGION':
                        return {color:'red',dashArray:"5,5"};
                        break;
                    case 'EAST REGION':
                        return {color:'blue',dashArray:"5,5"};
                        break;
                    case 'NORTH REGION':
                        return {color:'yellow',dashArray:"5,5"};
                        break; 
                    case 'NORTH-EAST REGION':
                        return {color:'purple',dashArray:"5,5"};
                        break; 
                    default:
                        return {color:'black'};
                        break;
                }
            }

            function processRegions(json,lyr){
                var att = json.properties;
                lyr.bindTooltip(
                    "<h4><strong>"+ att.REGION_N + "</strong></h4>"
                    + "<h6> <strong>Planning Area: </strong>"+att.PLN_AREA_N+"</h6>"
                )
            }

            function filterDistricts(json){ // Set to filter opton of the geoJson constructor method.
                var arDistrictFilters =[];
                $("input[name=fltDistrict").each(function(){
                    if (this.checked){
                        arDistrictFilters.push(this.value);
                    }
                });
                var att = json.properties;
                switch (att.REGION_N) {
                    case 'WEST REGION':
                        return (arDistrictFilters.indexOf("WEST REGION") >= 0); 
                        break;
                    case 'CENTRAL REGION':
                    return (arDistrictFilters.indexOf("CENTRAL REGION") >= 0); 
                        break;
                    case 'EAST REGION':
                    return (arDistrictFilters.indexOf("EAST REGION") >= 0); 
                        break;
                    case 'NORTH REGION':
                    return (arDistrictFilters.indexOf("NORTH REGION") >= 0); 
                        break; 
                    case 'NORTH-EAST REGION':
                    return (arDistrictFilters.indexOf("NORTH-EAST REGION") >= 0); 
                        break; 
                }
            }

            // Event Handler: Select all District (Checkboxes with name=fltDistrict)
            $("#btnDistrictFilterAll").click(function(){
                $("input[name=fltDistrict]").prop('checked',true); // Select all District (Checkboxes with name=fltDistrict)
            });

            // Event Handler: Unselect all District (Checkboxes with name=fltDistrict)
            $("#btnDistrictFilterNone").click(function(){
                $("input[name=fltDistrict]").prop('checked',false); // Select all District (Checkboxes with name=fltDistrict)
            });

            // Event Handler: Filter District (Checkboxes with name=fltDistrict)
            $("#btnDistrictFilter").click(function(){
                lyrDistrict.refresh();
            });
            // ---------------------------------------------------------------------------

        </script>
        

    </body>
    
</html>